/* 
    ESERCIZIO N1
*/

.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 2s ease-in-out;
}

.ex-1-square:hover {
    background-color: red;
}


/* 
    ESERCIZIO N2
*/

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 8s ease-in-out;
}

.ex-2-square:hover {
    width: 80%;
    height: 100px;
    background: red;
}


/* 
    ESERCIZIO N3
*/
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition-property: border;
    transition-timing-function: 2s;
    transition-delay: 2s;
}

.ex-3-square:hover {
    border-radius: 50%;
    border-color: red;
    background: red;
}

/* 
    ESERCIZIO N4
*/
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: background-color 3s ease-in-out;
}

.ex-4-square:hover {
    width: 100px;
    height: 100px;
    background: rgba(255, 0, 0, 0);
}

/* 
    ESERCIZIO N5
*/
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: width 2s ease-in-out, height 2s ease-in-out;
}

.ex-5-square:hover {
    margin: 20px;
    width: 180px;
    height: 180px;
    background: green;
}

.ex-5-square:active {
    margin: 20px;
    width: 30px;
    height: 30px;
    background: blue
}


/* 
    ESERCIZIO N6
*/
.ex-6-img{
    width: 500px;
    transition: filter 2s ease-in-out;
}

.ex-6-img:hover{
    filter: grayscale(0.9);
}

/* 
    ESERCIZIO N7
*/
.ex-7-img{
    width: 500px;
    transition: filter 3s ease-in-out;
}

.ex-7-img:hover{
    filter: invert(0.7) hue-rotate(120deg);
}

/* 
    ESERCIZIO N8
*/
.ex-8-img{
    width: 500px;
    transition: filter 3s ease-in-out, border 2s ease-in-out;
}

.ex-8-img:hover{
    border-radius: 10px;
    filter: sepia(0.8) hue-rotate(39deg);     
}

/* 
    ESERCIZIO N9
*/
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: width 3s ease-in-out, filter 3s linear, border 2s ease-in-out 1s;
}

.ex-9-img:hover {
    margin: 50px 100px;
    width: 200px;
    filter: grayscale(0.9) brightness(0.8);
    border-radius: 10px;
}


/* 
    ESERCIZIO N10
*/
.ex-10-icon {
    font-size: 60px;
    position: relative;
    animation: spinning-icon-ex10;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spinning-icon-ex10 {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}


/* 
    ESERCIZIO N11
*/
.ex-11-icon {
    font-size: 60px;
    position: relative;
}

.ex-11-icon:hover {
    font-size: 60px;
    position: relative;
    animation: spinning-icon-ex11;
    animation-timing-function: linear;
    animation-duration: 3s;
}

@keyframes spinning-icon-ex11{
    0%{
        transform: rotate(0deg);
    }

    90%{
        transform: rotate(273deg);
    }

    100%{
        transform: rotate(0deg);
    }
}


/* 
    ESERCIZIO N12
*/

.ex-12-button{
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-12-button:hover .ex-12-top-white{
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
    animation: sliding-ex12-top;
    animation-timing-function: linear;
    animation-duration: 2s;
}

@keyframes sliding-ex12-top{
    0%{
        top: -10px;
        left: 10%;
    }

    50%{
        top: -10px;
        left: 60%;
    }

    100%{
        top: -10px;
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
    animation: sliding-ex12-bottom;
    animation-timing-function: linear;
    animation-duration: 2s;
}

@keyframes sliding-ex12-bottom{
    0%{
        bottom: -10px;
        right: 20%;
    }

    50%{
        bottom: -10px;
        right: 60%;
    }

    100%{
        bottom: -10px;
        right: 20%;
    }
}


/* 
    ESERCIZIO N13
*/

.ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-13-button:hover .ex-13-top-white{
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
    animation: sliding-ex13-top;
    animation-timing-function: linear;
    animation-duration: 3s;
}

@keyframes sliding-ex13-top{

    0%{
        top: -10px;
        left: 10%;
    }

    16%{
        top: -10px;
        left: 190px;
    }

    33%{
        width: 20px;
        height: 20px;
        top: 60px;
        left: 190px;
    }

    50%{
        width: 60px;
        height: 20px;
        top: 60px;
        left: -10px;
    }

    66%{
        width: 20px;
        height: 20px;
        top: -10px;
        left: -10px;
    }

    83%{
        width: 60px;
        height: 20px;
        top: -10px;
        left: -10px;
    }

    100%{
        width: 60px;
        height: 20px;
        top: -10px;
        left: 10%;
    }
}



.ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background-color: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-13-button:hover .ex-13-bottom-white{
    position: absolute;
    bottom: -10px;
    right: 20%;
    background-color: #f5f5f5;
    width: 60px;
    height: 20px;
    animation: sliding-ex13-bottom;
    animation-timing-function: linear;
    animation-duration: 3s;
}

@keyframes sliding-ex13-bottom{

    0%{
        bottom: -10px;
        right: 20%;
    }

    16%{
        bottom: -10px;
        right: 150px;
    }

    33%{
        bottom: 60px;
        right: 150px;
    }

    50%{
        bottom: 60px;
        right: -10px;
    }

    66%{
        bottom: -10px;
        right: -10px;
    }

    83%{
        bottom: -10px;
        right: -10px;
    }

    100%{
        bottom: -10px;
        right: 20%;
    }
}